body {
	margin-left: 80px;
	margin-right: 80px;
}

.logo {
	width: 70px;
	height: 70px;
	opacity: 0.5;
}

.grid {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col {
	box-sizing: border-box;
	flex: 0 0 100%;
}

.col-half {
	flex: 0 0 50%;
	box-sizing: border-box;
}

.col-one-third {
	flex: 0 0 33.3333%;
	box-sizing: border-box;
	padding: 20px;
}

footer {
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	
}

.name {
	text-transform: uppercase;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	color: #5C1B57;
    text-align: center;
}

.role {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	color: #5491A9;
    text-align: center;
    padding-bottom: 20px;
}

.thesis-img {
	width: 100%;
	padding-bottom: 20px;
}

.my-description {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-bottom: 5px;
}

.resume {
	width: 100px;
	height: 100px;
	margin-left: 230px;
	margin-bottom: 20px;
}

.skills {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 140px;
}

.my-skills-container {
	padding-left: 100px;
	padding-right: 70px;
}

.percent {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	text-transform: uppercase;
	padding-bottom: 20px;
	text-align: center;
}

.resources {
	padding-top: 22px;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

.social-text {
	display: inline-block;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
}

.contact-detail {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	padding-bottom: 30px;
	color: #5C1B57;
}

.icon {
	text-align: center;
}

.extra-padding {
	padding-bottom: 100px;
}

.chat {
	padding-top: 40px;
	text-align: center;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom: 40px;
	color: #5C1B57;
}

.me {
	padding-top: 30px;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	color: #5C1B57;
}

.masonry { /* Masonry container */
    column-count: 4;
    margin-top: 40px;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 0.4em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
}

.img-size {
	width: 80%;
	margin-left: 1.5em;
}

.img-size-small {
	width: 60%;
	margin-left: 3.3em;
}

.img-size-large {
	width: 100%;
}

.slick-slide img{
	width: 500px;
	height: 400px;
	margin-left: 200px;
}

.slick-slide .wideawake{
	width: 230px;
	margin-left: 340px;
	height: 20%;
}

.nav {
	display: inline-block;
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 15px;
	color: #5C1B57;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	position: relative;
	padding-top: 44px;
	margin-left: 40px;
	z-index: 1;
}

a {
	text-decoration: none;
	color: #5C1B57;
}

.logo-home {
	width: 40%;
	opacity: 0.5;
	margin-top: 30px;
	margin-left: 320px;
}

.project {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
}

.project-description {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	margin-left: 240px;
	margin-right: 240px;
}

.city {
	width: 60%;
	margin-left: 223px;
}

.item-name {
	text-align: center;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 12px;
}

.print-description {
	text-align: center;
}

.slideshow-wrap {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.js-next {
	position: absolute;
    right: -50px;
    top: calc(50% - 25px);
    height: 50px;
}

.js-previous {
	position: absolute;
	left: -50px;
	top: calc(50% - 25px);
	height: 50px;
}

.wideawake{
	height: 300px;
}

.video {
	text-align: center;
	padding-top: 50px;
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	text-transform: uppercase;
}

video {
	margin-left: 368px;
	width: 400px;
	height: 450px;
}

.sto {
	width: 60%;
	margin-left: 223px;
}

.brell {
	width: 100%;
}


span {
	font-family: 'Fredoka One', cursive;
}

.coned {
	width: 70%;
	margin-left: 170px;
}

.progress {
	position: relative;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin: 5px;
}

.progress-bar {
	height: 100%;
	border-radius: .25rem;
	padding: 4px;
    background-color: var(--color);
    width: var(--width);
    font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

.icon-wrapper {
	padding-top: 10px;
	margin-right: 40px;
	display: inline-block;
    width: 130px;
}

.fa-facebook {
	margin-left: 120px;
}

.fa-instagram {
	margin-left: 119px;
}

.fa-linkedin {
	margin-left: 120px;
}

.icon-wrapper {
	margin-left: 50px;
}

.coming-soon {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 45px;
	text-transform: uppercase;
	color: #5C1B57;
	text-align: center;
	margin-top: 35px;
}

.shop-description {
	font-family: freight-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	padding-bottom: 60px;

}

.logo-shop {
	width: 20%;
	opacity: 0.5;
	margin-left: 440px;
	margin-top: 100px;

}

@media all and (max-width: 1248px) {
	.nav {
		margin-left: 20px;
	}
}

@media all and (max-width: 1088px) {
	.nav {
		margin-left: 10px;
	}
}

@media all and (max-width: 1008px) {
	.nav {
		margin-left: 5px;
	}
}

@media all and (max-width: 978px) {
	.nav {
		margin-left: 5px;
	}
}

@media all and (max-width: 968px) {
	.nav {
		margin-left: 0px;
	}
}

@media all and (max-width: 928px) {
	.nav {
		margin-left: -5px;
	}
}
@media all and (max-width: 888px) {
	.nav {
		margin-left: -10px;
	}
}

@media all and (max-width: 848px) {
	.nav {
		margin-left: -15px;
	}
}
@media all and (max-width: 817px) {
	.col-half {
		flex: 0 0 100%;
	}

}
